{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/resume.min.css" rel="stylesheet">
    <link href="/static/css/mdb.min.css" rel="stylesheet">
    <title>Salary Detail</title>
</head>
<body style="padding-left:2px">           
     
             <center><h2 class="p-3 mb-2 bg-info text-white">Salary Details</h2></center>
         <div class="card" style="width:100%;padding-left: 20px;padding-top: 10px">
                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{salaryform|crispy}}<br>
                    </div>
                    <input type="submit" class="btn btn-primary">
                </form>
                <br>
                <h3 class="p-1 mb-2 blue-gradient  text-black">Salary List :-</h3>
                <br>
                {% for salary in salaries %}
                    <li>
                        <a href="{% url 'EmployeeProfile:update_salary_detail' salary.id %}" class="btn btn-primary">{{ salary.payslip_month }}</a>
                        &nbsp;&nbsp;
                        <a href="{% url 'EmployeeProfile:delete_salary' salary.id %}" class="btn btn-primary">Delete</a>
                        &nbsp;&nbsp;
                        <a href="{% url 'EmployeeProfile:view_slip' salary.id %}" class="btn btn-primary">View Slip</a>
                    </li>
                {% endfor %}
         </div>
        
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/resume.min.js"></script>
</body>
</html>